---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/**
 * Vars
 */

// Typography
$body-font: 'helvetica', sans-serif;
$heading-font: 'Montserrat', sans-serif;

// $green-color: #BBE090;
$green-color: #29af87;
$black-color: #242424;
$gold-color: #FCAE63;
$gray-color: #808080;

// Media Queries
$breakpoint1: 1200px;
$breakpoint2: 768px;
$breakpoint3: 375px;

/**
 * HTML
 */

*,
*:before,
*:after
{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
  padding-top: 109px;
  background: #fff;
  color: #333;
  margin: 0;
  font: 14px/1.5 $body-font;
}

/**
 * Images
 */
img{
  max-width: 100%;
  display: block;
}

/**
 * Links
 */
a{
  color: #222;
  transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

a:hover{
  color: $green-color;
}

/**
 * Headers
 */
h1,h2,h3,h4,h5,h6{
  color: $green-color;
  // color: #000;
  font-weight: 400;
  line-height: 1.1;
  font-family: $heading-font;
  // font-size: 1em;
}

.cta{
  // font-family: serif;
  // font-style: italic;
  text-align: center;
  // max-width: 500px;
  line-height: 1.2;
  padding: 2em 0;
  margin-bottom: 0.5em;
  // border-top: 1px solid #ddd;

  h1{
    color: #333;
    letter-spacing: -2px;
    width: 800px;
    max-width: 100%;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 auto;
    font-size: 40px;

    @media(max-width: $breakpoint3){
      font-size: 25px;
      padding: 0 1em;
      text-align: left;
    }
  }

  p{
    font-size: 18px;
    font-family: 'Georgia', serif;
    color: $green-color;
    font-style: italic;
  }
}

/**
 * Header
 */
.header{
  // text-align: center;
  // background-color: #222;
  // border-top: 9px solid $black-color;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 4;
}

.header>.container{
  // border-top: 0.5em solid #333;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  display: -webkit-flex;
  column-count: 2;
    -webkit-column-count: 2;
    transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out;
}

.header-logo{
  text-align: left;
  font-family: $heading-font;
  flex: 2 0 0;
  -webkit-flex: 2 0 0;

  a{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1.5px;
    text-decoration: none;

    &:hover{
      color: $green-color;
    }
  }

  img{
    float: left;

    @media(max-width: $breakpoint3){
      max-width: 190px;
    }
  }
}

.header-shrink>.container{
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.header-fixed{
  width: 100%;
  position: fixed;
  top: 0px;
  opacity: 1.0;
  z-index: 3;
  border-top: none;
  background-color: #fff;

  .container{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  .header-nav{
    padding-top: 0.5em;
  }
}

// Header Navigation
.header-nav{
  flex: 2 0 0;
  -webkit-flex: 2 0 0;
  padding-top: 0.6em;
  display: block;

  @media(max-width: $breakpoint2){
    display: none;
    flex-direction: row;
    -webkit-flex-direction: row;
    position: absolute;
    border-top: 1px solid #ddd;
    top: 107px;
    margin: 0;
    padding: 0;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 2;
  }

  @media(max-width: $breakpoint3){
    z-index: 3;
  }

  ul{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li{
    float: right;
    display: inline;
    margin: 0 0 0 44px;
    font-size: 12.5px;
    text-transform: uppercase;

    @media(max-width: $breakpoint2){
      float: none;
      display: block;
      margin: 0;
      border-bottom: 1px solid #ddd;
      min-width: 100%;
      line-height: 5em;
    }
  }

  a{
    color: #808080;
    text-decoration: none;

    @media(max-width: $breakpoint3){
      display: block;
    }

    &:hover{
      color: $green-color;
    }
  }
}

.header-nav-shrink{
  top: 64px;
}

/**
 * Main CTA
 * ------------------
 * 100% vertical height
 */

.main-cta{
  height: 100vh;
  background-color: #333;
  text-align: center;
  margin-bottom: 4em;
}

/**
 * Mobile Navigation
 */

.mobile-btn{
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  @media(max-width: $breakpoint2){
    display: block;
  }
}

/**
 * Grid - Container
 */
.container{
  margin: 0 auto;
  max-width: $breakpoint1;
  width: 100%;
  // padding: 0 1em;

  @media(max-width: $breakpoint1){
    padding: 0 0.5em;
  }
}

/**
 * Work - Container
 */
 .work{
  padding-bottom: 60px;
 }

 .work-grid{
   column-count: 3;
    -webkit-column-count: 3;
  column-gap: 1em;
    -webkit-column-gap: 1em;

  @media (max-width: $breakpoint2){
    column-count: 2;
     -webkit-column-count: 2;
  }

  @media (max-width: $breakpoint3){
    column-count: 1;
     -webkit-column-count: 1;
  }
 }

 .work-grid-item{
   background: #000 url('../img/spinner.gif') 50% no-repeat;
   min-height: 200px;
   position: relative;
   margin: 0px 0 .6em 0;
   display: inline-block;

   img{
    //  -webkit-filter: grayscale(100%);
    //  filter: grayscale(100%);
     opacity: 0;
     display: block;
     width: 100%;
     transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;

    // @media(max-width: $breakpoint3){
    //   -webkit-filter: grayscale(0%);
    //   filter: grayscale(0%);
    // }
   }

   &:hover img{
     opacity: 0.2;
    // -webkit-filter: grayscale(0%);
    // filter: grayscale(0%);
   }

   &:hover .work-meta{
     opacity: 1;
     margin-top: 0px;
   }
 }

 .work-meta{
  opacity: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  top: 0;
  position: absolute;
  display: flex;
    display: -webkit-flex;
  align-items: center;
    -webkit-align-items: center;
  justify-content: center;
    -webkit-justify-content: center;
  transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
 }

 .work-meta-title{
   margin-bottom: 0px;
 }

 .work-meta-body{
   font-family: $heading-font;
   color: $green-color;
   border: 1px solid $green-color;
   padding: 10px 30px;
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
 }

 .work-single{
   img{
     text-align: center;
     display: block;
     margin: 0 auto;
   }
 }

.work-single-meta{
  text-align: left;
  display: flex;
    display: -webkit-flex;

  .work-single-title{
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    font-size: 1em;
    margin-top: 1em;

    @media(max-width: $breakpoint3){
      display: none;
    }
  }

  .work-single-desc{
    flex: 3 0 0;
      -webkit-flex: 3 0 0;
    padding-right: 13em;

    @media(max-width: $breakpoint2){
      padding-right: 0;
    }

    @media(max-width: $breakpoint3){
      display: none;
    }
  }
 }


 /**
  * Footer
  * --------
  * Includes copyright and social icons
  */

.footer{
  text-align: center;
  padding: 3em 0;
}

.footer-social-icons{
  text-align: center;
  margin: 0;
  padding: 0;

  li{
    display: inline-block;
    margin: 0 5px;
  }

  .footer-icon{
    transition: 1s;
  }

  svg:hover .footer-icon{
    fill: $green-color;
  }
}

/**
 * Grid
 * ------
 * Simple grid built for about page
 */

.grid{
  display: flex;
  display: -webkit-flex;

  @media(max-width: $breakpoint2){
    flex-direction: column;
      -webkit-flex-direction: column;
    flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
  }
}

.grid-col-1{
  flex: 1 0 0;
    -webkit-flex: 1 0 0;
  padding-right: 10px;

  @media(max-width: $breakpoint2){
    flex: 1;
    -webkit-flex: 1;
  }
}

.grid-col-2{
  flex: 1;
    -webkit-flex: 1;
  padding: 0 6em;

  @media(max-width: $breakpoint2){
    flex: 1 100%;
    -webkit-flex: 1 100%;
    padding: 0;
  }

  @media(max-width: $breakpoint3){
    padding: 0;
  }
}

/**
 * Clients
 * ---------
 * Includes all the client logos seen on home and about page
 */

.clients-section{
  padding: 4em 0;
  margin: 5em 0 3em 0;
  // background-color: #222;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.clients-cta{
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  color: #808080;
}

.clients{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

  img{
    flex: 1;
      -webkit-flex: 1;
    margin: 0 2em 1em 0;

    @media(max-width: $breakpoint2){
      flex-basis: 25%;
    }
  }
}

/**
 * CV
 * ------------------
 * Styling for resume
 */
.cv-container{
  display: flex;
  display: -webkit-flex;
}

.cv-cta{
  font-size: 2.7em;
  line-height: 1.1;
  text-transform: capitalize;
}

.cv-contact-list{
  margin-top: 2.5em;
  list-style: none;
  padding: 0;
  flex: 1;
  -webkit-flex: 1;

  li{
    font-size: 0.8em;
    margin-bottom: 5px;
  }
}

.cv-rule{
  height: 2px;
  background-color: #ddd;
  width: 250px;
}

.cv-info{
  flex: 4;
  -webkit-flex: 4;
  padding-right: 13em;
}

.cv-date{
  font-family: 'georgia', serif;
  font-style: italic;
  font-size: 0.8em;
  color: #555;
}

.cv-skills{
  flex: 4;
  -webkit-flex: 4;
  float: left;
  margin: 0 3em 0 0;
  list-style: none;
  padding: 0;
}

.cv-technical-title{

}

@media(max-width: $breakpoint2){
  .cv-contact-list,
  .cv-info{
    width: 100%;
    flex: 0;
    -webkit-flex: 0;
    padding-right: 0;
  }
}

// Imports
@import "skills";
@import "about";
@import "buttons";
