---
layout: default
---

<main role="main">
  <section class="cta">
    <h1 class="display-text">{{ site.tagline }}</h1>
  </section>

  <!-- Work section -->
  {% include work.html %}

  <!-- About section -->
  <section class="about">
    <div class="container">
        <p class="display-text">
          Hello,<br>
          I’ve been working professionally for the last 12 years. I've fallen in love with designing experiences, and building products for the web. I live to problem solve with design.
        </p>
      <a href="/about" class="btn">Find Out More</a>

      <!-- <div class="about-img">
        <img src="img/pic.jpg" alt="{{ site.title }}" />
      </div> -->
      <!-- <div class="about-meta">
        <h3 class="about-title">Hello, My Name Is Stephen</h3>
        <p>
          I’ve been working professionally for the last 10 years. My background began in advertising where I developed print and marketing campaigns. From there I fell in love with web development, design, branding, and building products for the web.
        </p>
        <p>
          I'm currently working as a designer and front end developer. I'm interested in skill sets like Branding and UI/UX Design.
        </p>
        <a href="/about" class="btn">Find Out More</a>
      </div> -->
    </div>
  </section>

  <!-- Skills section -->
  {% include skills-icons.html %}

</main>
