/**
 * Vars
 */

// Colors
$gold: #e09d32;
$gray: #757780;
$dark-gray: #161619;
$purple: #910BCE;

// Spacing
$spacing: 24px;

// Typography
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;
$h1: 31px;
$h1-lh: 37px;
$h2: 20px;
$h2-lh: 24px;
$h3: 16px;
$h3-lh: 24px;
$h4: 14px;
$h4-lh: 24px;