/**
 * Vars
 */

// Colors
$gold: #e09d32;
$light-gray: #e6e6e6;
$gray: #757780;
$dark-gray: #161619;
$purple: #ff5b40;

// Spacing
$spacing: 32px;

// Typography
$heading-font: 'Source Serif Pro', serif;
$body-font: sans-serif;
$h1: 44px;
$h1-lh: 44px;
$h2: 20px;
$h2-lh: 24px;
$h3: 16px;
$h3-lh: 24px;
$h4: 14px;
$h4-lh: 24px;