<section class="clients-section">
  <div class="container">
    <div class="row">
      <h2>Who I've Worked With</h2>
      <p>I've had the opportunity to work with some pretty amazing companies during my career. From the top casinos in the U.S. to fortune 500 companies to some of the best game developers in the world.</p>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
  <div class="container">
    <div class="clients">
      <img src="{{ base.siteurl }}/img/twitch.svg" width="128" height="128" alt="Twitch">
      <img src="{{ base.siteurl }}/img/coca-cola.svg" width="128" height="128" alt="Coca-Cola">
      <img src="{{ base.siteurl }}/img/blizzard.svg" width="128" height="128" alt="Twitch">
      <img src="{{ base.siteurl }}/img/fanta.svg" width="128" height="128" alt="Twitch">
      <img src="{{ base.siteurl }}/img/4as.svg" width="128" height="128" alt="Twitch">
      <img src="{{ base.siteurl }}/img/sprite.svg" width="128" height="128" alt="Twitch">
    </div>
  </div>
</section> <!-- /section .clients -->
