<!-- main-header -->
<header id="main-header" class="clearfix" role="banner">
  <div class="container">
     <a title="{{ site.title }} {{ site.tagline }}" href="{{ site.baseurl }}/"><div id="logo">{{ site.title }} {{ site.tagline }}</div></a>

    <!-- navigation -->
    <!-- <nav id="main-nav" role="navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li><a href="{{ "/feed.xml" | lirepend: site.baseurl }}">RSS</a></li>
      </ul>
    </nav> -->
    <!-- /navigation -->
  </div>
</header>
<!-- /main-header -->