<!-- main-header -->
<header id="main-header" class="clearfix" role="banner">

  <a href="{{ site.baseurl }}/"><div id="logo">{{ site.title }} {{ site.tagline }}</div></a>

  <!-- navigation -->
  <nav id="main-nav" role="navigation">
    <ul>
    {% for page in site.pages %}
      {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
        <li>subscribe <a href="{{ "/feed.xml" | lirepend: site.baseurl }}">via RSS</a></p>
    </ul>
  </nav>
  <!-- /navigation -->

</header>
<!-- /main-header -->