<header class="header" role="banner">
  <div class="container">
    <div class="grid col-6">
      <h1 class="header-logo" aria-label="{{ site.title }}">
        <a class="link" href="{{ site.baseurl }} /">{{ site.title }}</a>
      </h1>
      <nav class="header-nav" role="navigation">
        <ul>
          <li><a aria-label="work" class="link" href="{{ site.baseurl }}/">Work</a></li>
          <li><a aria-label="About" class="link" href="{{ site.baseurl }}/about">About</a></li>
          <li><a aria-label="Contact" href="mailto:{{ site.email }}?Subject=Hello">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>