<div class="header-logo">
  <a href="{{ site.baseurl }}/">{{ site.title }}</a>
</div>

<div class="header-mobile-btn">
  <button type="button" name="button" class="mobile-btn">
    <img src="{{ site.baseurl }}/img/menu-icon.svg" />
  </button>
</div>

<nav class="header-nav" role="navigation">
  <ul>
    <li><a href="mailto:{{ site.email }}?Subject=Hello">Contact</a></li>
    <li><a href="{{ site.baseurl }}/">Work</a></li>
    <li><a href="{{ site.baseurl }}/process">Process</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
</nav>
