<div class="cv-skills">
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Sass/Scss</li>
    <li>Gulp.js</li>
    <li>Javascript</li>
    <li>Jquery</li>
    <li>Git/Github</li>
  </ul>
</div>

<div class="cv-skills">
  <ul>
    <li>Ruby on Rails</li>
    <li>Responsive Web Design</li>
    <li>Wordpress (Custom Themes)</li>
    <li>Bootstrap</li>
    <li>BEM Methodology</li>
    <li>SMACSS Methodology</li>
    <li>Bower</li>
    <li>Angular.js</li>
  </ul>
</div>

<ul class="cv-skills">
  <li>Sketch 3</li>
  <li>Photoshop CC</li>
  <li>Illustrator CC</li>
  <li>InDesign CC</li>
</ul>

<ul class="cv-skills">
  <li>Atom Editor</li>
  <li>Sublime Text</li>
</ul>

<ul class="cv-skills">
  <li>Google Analytics</li>
  <li>Google Webmaster Tools</li>
</ul>
