<div class="row">
  <div class="col-3">
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Sass/Scss</li>
      <li>Gulp.js</li>
      <li>Jquery/Javascript</li>
      <li>Git/Github</li>
      <li>Ruby on Rails</li>
      <li>Responsive Web Design</li>
      <li>Wordpress (Custom Themes)</li>
      <li>Bootstrap</li>
      <li>BEM Methodology</li>
      <li>SMACSS Methodology</li>
      <li>Bower</li>
      <li>Angular.js</li>
    </ul>
  </div> <!-- /.col-3 -->


  <div class="col-3">
    <ul>
      <li>Photoshop CC</li>
      <li>Illustrator CC</li>
      <li>InDesign CC</li>
    </ul>
    <ul>
      <li>Sublime Text</li>
      <li>Adobe Brackets</li>
    </ul>
    <ul>
      <li>Google Analytics</li>
      <li>Google Webmaster Tools</li>
    </ul>
  </div> <!-- /.col-3 -->
</div> <!-- /.row -->