<section>
  <div class="container">
    <div class="grid col-6">
      {% for post in site.categories['works'] %}
        <a class="link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="col-thumb" style="background-color: {{ post.color }}">
            <img src="{{ site.baseurl }}/img/work/{{ post.slug }}/{{ post.thumbnail }}" alt="{{ post.title }}">

            <!-- <img src="https://media.graphcms.com/resize=w:600/output=format:webp/compress/H4F3EgL3TtyKX5ZyCPAm" alt=""> -->
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
