<section>
  <div class="container">
    <div class="work-grid">
      {% for post in site.categories['works'] %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="work-grid-item">
          <img onload="fadeIn(this)" src="{{ site.baseurl }}/img/{{ post.thumbnail }}" alt="{{ post.title }}" style="display: none;">
          <div class="work-meta">
            <!-- <h2 class="work-meta-title">Some Title</h2> -->
            <p class="work-meta-body">{{post.title}}</p>
          </div> <!-- /.work-meta -->
        </div> <!-- /.work-grid-item -->
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  // this function must be defined in the global scope
  window.fadeIn = function(obj) {
      $(obj).fadeIn(1000);
  }
</script>
