.about{
  padding: 120px 350px;;
  background-color: #fafafa;

  @media (max-width: $breakpoint2){
    padding: 20px;
  }

  .container{
    display: flex;
      display: -webkit-flex;
  }

  .about-title{
    font-size: 18px;
  }

  .about-img{
    // flex: 0 0 30%;
    //   -webkit-flex: 0 0 30%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
      border-radius: 50%;

    @media(max-width: $breakpoint3){
      display: none;
    }

    img{
      max-width: 106%;
      margin-left: -17px;
    }
  }

  .about-meta{
    color: #575757;
    padding-top: 15px;
    padding-left: 50px;
    flex: 0 0 60%;
      -webkit-flex: 0 0 60%;

    @media(max-width: $breakpoint3){
      padding: 0;
      flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
    }
  }
}

.about-page{
  padding: 0 360px;

  a{
    cursor: pointer;
  }

  .about-page-meta{
  }

  .about-page-img{
    height: 400px;
    overflow: hidden;

    img{
      margin-top: -80px;
    }
  }
}
