.about{
  background-color: $green-color;
  color: #eee;
  font-size: 36px;
  font-family: $heading-font;

  .container{
    padding: 120px 190px;

    @media (max-width: $breakpoint1){
      padding: 20px;
    }

    @media (max-width: $breakpoint3){
      padding: 10px;
      font-size: 16px;
    }
  }

  .about-title{
    color: $black-color;
    font-size: 36px;
    margin-bottom: 5px;
  }

  .btn{
    transition: all .25s ease;
      -webkit-transition: all .25s ease;
  }

  .btn:hover{
    border-color: #fff;
    color: #fff;
  }


  // .about-title{
  //   font-size: 18px;
  // }

  .about-img{
    // flex: 0 0 30%;
    //   -webkit-flex: 0 0 30%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
      border-radius: 50%;

    @media(max-width: $breakpoint3){
      display: none;
    }

    img{
      max-width: 106%;
      margin-left: -17px;
    }
  }

  .about-meta{
    margin: 5px 0;
  }

  // .about-meta{
  //   color: #575757;
  //   padding-top: 15px;
  //   padding-left: 50px;
  //   flex: 0 0 60%;
  //     -webkit-flex: 0 0 60%;
  //
  //   @media(max-width: $breakpoint3){
  //     padding: 0;
  //     flex: 0 0 100%;
  //       -webkit-flex: 0 0 100%;
  //   }
  // }
}

.about-page{
  padding: 0 360px;

  @media(max-width: $breakpoint1){
    width: 100%;
    padding: 0 100px;
  }

  @media(max-width: $breakpoint2){
    width: 100%;
    padding: 0 10px;
  }

  a{
    cursor: pointer;
  }

  .about-page-img{
    height: 400px;
    overflow: hidden;

    img{
      margin-top: -80px;
    }
  }
}

.about-page-intro{
  background-color: $black-color;
  color: #6b6b6b;
  margin-top: -20px;

  .container{
    background: $black-color url('../img/pic-opac2.png') 6% 24% no-repeat;

    @media(max-width: $breakpoint2){
      background: none;
    }
  }

  img{
    opacity: 0.25;
  }

  .about-page-intro-meta{
    padding: 61px 254px 40px 210px;

    @media(max-width: $breakpoint2){
      padding: 10px;
    }

    h2{
      font-size: 50px;
      margin: 0;
    }

    p{
      line-height: 2;
      font-size: 16px;
    }
  }

  .container{
    display: flex;
      display: -webkit-flex;

      & > div{
        flex: 1;

        @media(max-width: $breakpoint2){
          flex: none;
        }
      }
  }
}

.about-page-clients{
  padding: 150px 0;

  .container{
    display: flex;
      display: -webkit-flex;
    flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    flex-direction: row;
      -webkit-flex-direction: row;
    padding: 0 175px;
  }

  .about-page-client{
    flex: 0 0 33.33%;
      -webkit-flex: 0 0 33.33%;
    justify-content: center;
      -webkit-justify-content: center;
    align-items: center;
      -webkit-align-items: center;

    @media(max-width: $breakpoint1){
      flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
    }
  }

  .about-page-client-img{
    display: flex;
      display: -webkit-flex;
    justify-content: center;
      -webkit-justify-content: center;
    align-items: center;
      -webkit-align-items: center;
    background: #eee;
    min-height: 150px;
    max-height: 150px;
    margin: 10px;
    border-radius: 3px;
      -webkit-border-radius: 3px;
  }
}

.about-page-quote{
  background-color: $green-color;
  padding: 150px 250px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: $heading-font;

  @media(max-width: $breakpoint1){
    padding: 70px 130px;
    font-size: 30px;
  }
}
