/**
 * Article
 */

.articles{
  // background-color: #fff;
  padding: 50px 0;
}

.article{
  min-height: 320px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
    -webkit-border-radius: 3px;
}

.article__title{
  color: $red;
}

.article__header{
  background: $black;
  padding: 20px 0;
}

.article__title--page{
  @extend .article__title;
  font-size: 3em;
  color: #fff;
  line-height: 50px;
}

.article__body{
  // color: #343438;
}

.article__read{
  font-family: $font__heading;
  text-transform: uppercase;
}