/**
 * Article
 */

.articles{
  // background-color: #fff;
  padding: 50px 0;
}

.article{
  min-height: 300px;
}

.article__title{
  color: $red;

  a:hover{
    text-decoration: none;
    color: #fff;
  }
}

.article__title--page{
  @extend .article__title;
  font-size: 4em;
  line-height: 60px;
}

.article__body{
  // color: #343438;
}

.article__read{
  font-size: 0.8em;
  font-family: $font__heading;
  text-transform: uppercase;
  letter-spacing: 3px;
}