/**
 * Billboard
 */

.banner{
  text-align: center;
  background-color: $black;
  margin-bottom: 20px;
}

.banner__msg{
  color: #fff;
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 0.5vw;
}

.banner__msg--red{
  color: $red;
}