/* Banner */

.banner{
  height: 408px;
  text-align: center;
  background-color: #ddd;
  display: table;
  width: 100%;
  background: url('../img/banner.jpg') no-repeat bottom;
  background-size: cover;
  margin-bottom: 48px;
}

.banner__msg{
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-size: 46px;
  line-height: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
}