/**
 * Billboard
 */

.billboard{
  text-align: center;
  background-color: $black--light;
  margin-bottom: 20px;
}

.billboard__msg{
  color: #fff;
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 0.5vw;
}

.billboard__msg--red{
  color: $red;
}