/* Body */

body{
  // font-family: georgia;
  font-weight: 400;
  font-family: $font--heading;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #fff;
  color: #6e6e6e;
}

/* Headings */
h1,h2,h3,h4,h5,h6{
  color: #333333;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

/* Paragraph */
p{
  font-weight: 400;
}

hr{
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 24px 0;
}

/* Pre */
pre{
  padding: 20px;
  background-color: #F0F0F0;
  border: 1px solid #ddd;
  border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Links */
a{
  color: $color--blue;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

/* Images */
img{
  max-width: 100%;
}