/* ==================================================

@Description: Globals.css

The idea is to style elements inspired by an object
oriented approach.

Delete and add to this as it seems fit for the site's
specific needs.

Works well with reset.css and basicgrid.css.

Should not contain any html tags.

@Author: Stephen Herko
@Url: stephenherko.com
@Twitter: @stpehenherko

================================================== */

/* ==================================================

Spacing

================================================== */

.m-bot-20{
  margin-bottom: 20px;
}

.m-bot-10{
  margin-bottom: 20px;
}

.m-0{
  margin: 0;
}

.m-auto{
  margin: 0 auto;
  float: none !important;
}

.pad{
  padding: 70px 0;
}

/* ==================================================

Typography

================================================== */

.sml-txt{
  font-size: 13px;
}

.nrm-txt{
  font-size: 16px;
}

.med-txt{
  font-size: 24px;
}

.lrg-txt{
  font-size: 30px;
}

/* ==================================================

Align

================================================== */

.p-left{
  padding-left: 20px;
}

.p-right{
  padding-right: 20px;
}

.c-align{
  text-align: center;
}

.r-align{
  text-align: right;
}

.l-align{
  text-align: left;
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.clearfix{
  *zoom: 1;
}

.clearfix:after{
  clear: both;
}

.clearfix:after,
.clearfix:before{
  display: table;
  content: "";
}

/* ==================================================

Colors / Text

================================================== */

.blue-txt{
  color: #3DC9B3;
}

.white-txt{
  color: #fff;
}

.red-txt{
  color: #E70F54;
}

.grey{
  background-color: #DFE3E7;
}

.blue{
  background-color: #3DC9B3;
}

.black{
  background-color: #0E0E0F;
}

/* ==================================================

Tabs

================================================== */

.tabs li{
  float: left;
  margin-right: 10px;
}

.list li{
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.divider{
  width: 75px;
  height: 3px;
  background-color: #e09d32;
  margin-top: 30px;
}

/* ==================================================

Show/Hide

================================================== */

.show{
  display: block;
}

.hide{
  display: none;
}
