/**
 * General
 */
 
body{
  font: 16px/1.5 $font__body;
  // background-color: $black;
  background-color: #fff;
  margin: 0;
  color: #343438;
}

/**
 * Headers
 */

h1,h2,h3,h4,h5,h6{
  font-family: $font__heading;
  text-transform: uppercase;
  font-weight: 400;
  color: $red;
  line-height: 1.1;
}

/**
 * Images
 */

img{
  max-width: 100%;
  display: block;
}

/**
 * Lists
 */

ul,li{
  list-style: square;
}

/**
 * Link
 */

a{
  color: $red;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

/**
 * HR
 */

hr{
  height: 1px;
  background: #343438;
  border: none;
}
