/* Services */

.services{
}

.service{
  text-align: center;
  // display: table;
  border-top: 1px solid #ddd;
}

.service__img{
  height: 384px;
  background: #119bd5;
}

.service__img--branding{
  background: url('../img/pvp-live-biz-card.jpg') no-repeat;
  background-size: cover;
}

.service__img--web{
  background: url('../img/nittany-ipad.png') no-repeat;
  background-size: cover;
}

.service__img--design{
  background: url('../img/sugarhouse01.jpg') no-repeat;
  background-size: cover;
}

.service__body__cont{
  display: table;
  width: 40%;
  margin: 0 auto;
}

.service__body{
  margin: 0 auto;
  height: 384px;
  display: table-cell;
  vertical-align: middle;
}

.service__title{
  color: #119bd5;
}