/**
 * Site Footer
 */

.site-footer{
  background-color: $black--light;
  padding: 100px 0;
  border-bottom: 5px solid $red;
}

.site-footer__brand{
  float: right;
}

.site-footer__nav{
  float: left;

  ul{
    padding: 0;
  }

  li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
    font-family: $font__heading;
    text-transform: uppercase;
  }
}