/**
 * Site header
 */

.site-header{
  margin: 2em 0;
}

.site-header-title{
  color: $gray-1;
  font-size: 2em;
  display: inline-block;

  &:hover{
    text-decoration: none;
    color: $red-1;
  }
}