.header{
  padding-top: 4em;
}

.header-logo{
  font-size: 1em;

  a{
    text-decoration: none;
    color: $color-chalkboard;

  }
}

@media(max-width: $breakpoint-mobile){
  .header{
    padding-top: 1em;
  }
}
