// HTML reset

*{
  box-sizing: border-box;
}

body{
  font-family: $font-heading;
  font-size: $L;
  line-height: $XXL;
  color: $color-dark;
  margin: 0;
  display: none;
  letter-spacing: -1px;
}

ul{
  margin: 0;
  padding: 0;

  li{
    margin: 0 0 0 $XL;
    padding: 0;
    // list-style: none;
  }
}

small{
  font-size: 14px;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  margin: 0 0 24px 0;
}

h1,h2,h3,h4{
  margin: 0 0 16px 0;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
  font-size: $L;
}

p{
  margin: 0 0 $XL 0;
}

br{
  height: $L;
}
