// Breakpoints
$breakpoint-XXL: 1920px;
$breakpoint-XL: 1440px;
$breakpoint-L: 1024px;
$breakpoint-M: 768px;
$breakpoint-S: 414px;

// Container widths
$container-XL: 1440px;
$container-L: 1300px;
$container-M: 704px;

// Typography
$font-heading: 'Work Sans', sans-serif;
$font-body: $font-heading;
$font-weight-bold: 500;
$font-weight-regular: 400;

// Colors
$color-dark: #424242;
$color-grey: #949494;
$color-blue: blue;

// Sizes
$XS: 4px;
$S: 8px;
$M: 16px;
$L: 20px;
$XL: 32px;
$XXL: 40px;
$XXXL: 160px;
$XXXXL: 320px;
