$color-dark: #000000;
$color-chalkboard: #444444;
$color-concrete: #d4d4d4;
$color-smoke: #717171;
$color-light: #ffffff;

$grid-container: 1176px;

// $font-family: 'helvetica neue', helvetica, serif;
$font-family: 'Sumana', serif;

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 414px;
