/**
 * Header
 */

#main-header{
  margin-bottom: $spacing;

  .container{
    border-bottom: 1px dotted $light-gray;
  }

  #main-nav{
    padding: $spacing;
    // float: right;

    ul{
      margin: 0;
    }

    li{
      list-style: none;
      margin: 0;
      font-weight: 700;
      font-size: $h1;
      line-height: $h1-lh;
    }
  }

  #logo{
    height: 172px;
    background: url('/img/sherko-logo2.svg') no-repeat;
    text-indent: -9999px;
  }
}