/**
 * Alignment
 */

.p-left{
  padding-left: 20px;
}

.p-right{
  padding-right: 20px;
}

.c-align{
  text-align: center;
}

.r-align{
  text-align: right;
}

.l-align{
  text-align: left;
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}