---
layout: default
---

<main role="main">
  <header class="article__header">
    <div class="container">
      <div class="row">
        <div class="col-center col-4">
          <h1 class="article__title--page">{{ page.title }}</h1> <!-- /.article__title -->
        </div> <!-- /.col-center -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </header> <!-- /.article__header -->
  <section>
    <div class="container">
      <div class="row">
          <article class="article col-center col-4">
            <header>
              <time class="article__time" datetime="{{ page.date | date: "%F %H:%M:%S" }}"></time>
            </header> <!-- /header -->
            <div class="article__body">{{ content }}</div>
          </article> <!-- /article -->
        <!-- <aside class="sidebar col-right col-25">
          <h4>You Might Also Like</h4>
          {% for post in site.posts %}
          <ul>
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          </ul>
          {% endfor %}
        </aside> -->
        <!-- {% if page.categories %}{{ page.categories }}{% endif %} -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section> <!-- /section -->
</main> <!-- /main -->