---
layout: default
---

<main role="main">
  <div class="container">
    <div class="row">
            <h1 class="article__title--page">{{ page.title }}</h1>
      <section>
        <article class="article col-center col-4">
          <header>
            <time class="article__time" datetime="{{ page.date | date: "%F %H:%M:%S" }}"></time>
          </header> <!-- /header -->
          <div class="article__body">{{ content }}</div>
        </article> <!-- /article -->
      </section> <!-- /section -->
      <!-- <aside class="sidebar col-right col-25">
        <h4>You Might Also Like</h4>
        {% for post in site.posts %}
        <ul>
          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        </ul>
        {% endfor %}
      </aside> -->
      {% if page.categories %}{{ page.categories }}{% endif %}
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</main> <!-- /main -->