---
layout: default
---

<main role="main" id="top">
  <div class="container">
    <div class="grid col-6 push-down-XXL">
      <div>
        <h1 class="display">{{ page.title }}</h1>
      </div>
      <div>
        <p>{{ page.description }}</p>
        <!-- <ul class="work-tags">
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul> -->
      </div>
    </div>
  </div>

  <!-- main work -->
  <div>
    {{ content }}

    <div class="container text-align-center push-down-XXL">
      <a href="#top">Back to Top</a>
    </div>
  </div>

  <!-- related work -->
  <section class="container-dark">
    <div class="display container text-align-center">
      <h2>More Case Studies</h2>
    </div>
    {% include work.html %}
  </section>
</main>
