---
layout: default
---

<main role="main">
  <div class="container">
    <section class="work-single">
      <div class="work-single-meta">
        <h1 class="work-single-title">{{page.title}}</h1>
        <p class="work-single-desc">{{page.description}}</p>
        <ul class="work-tags">
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div> <!-- /.work-single-meta -->
      {{content}}
    </section> <!-- /.work-single -->
  </div> <!-- /.container -->
  <section class="work-related">
    {% include work.html %}
  </section>
</main> <!-- /main -->
